* {
    margin: 0;
    padding: 0;
}

body {
  margin: 0;
  padding: 20px;
  background: #0d1117;
  color: #c9d1d9;
  font-family: monospace;
}

#shell {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

#liner::before{
    content: "yuvi@dev:~$";
}

.cursor {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}